#loading-text {
    margin-left: 2vh;
}

#loading {
    width: 100%;
    text-align: center;
    margin: 20vh auto;
}

#live-camera {
    height: 100%;
    width: 100%;
}

#preview {
    width: 100%;
    text-align: center;
}

#video-container, #canvasSelection {
    display: none;
}

#captionText {
    font-size: xx-large;
}

label {
    margin: auto 5vh;
}

i {
    margin-right: 2vh;
}