#loading-text {
    margin-left: 2vh;
}

#loading {
    position: absolute;
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;

}

#live-camera {
    height: 100%;
    width: 100%;
}

#preview {
    width: 100%;
    align-content: center;
}

#video-container, #canvasSelection {
    display: none;
}